// Adjustments styles
@import '_misc/_fonts.styl'
@import '_misc/_font-awesome.css'
@import '_misc/_mixins.styl'
@import '_misc/_vars.styl'
@import '_misc/_adjustments.styl'



// Header styles
@import 'common/_header.styl'

// Main page styles
@import 'common/_hello.styl'

// About page styles
@import 'page/_index.styl'
@import 'common/_sidebar.styl'
@import 'common/_about.styl'

// Career page styles
@import 'common/_career.styl'

// Portfolio page styles
@import 'common/_portfolio.styl'

// Plugins styles
@import '_misc/_plugins.styl'

// Footer styles
@import 'common/_footer.styl'



