footer.footer
	.container
		.footer__left
			.copyright
				.copyright__text.
					Copyright text
		.footer__right
			.socials
				ul.socials__list
					li.socials__item
						a.socials__link.socials__link_vk(href='#')
					li.socials__item
						a.socials__link.socials__link_fb(href='#')
					li.socials__item
						a.socials__link.socials__link_tw(href='#')