aside.sidebar
	nav.nav
		ul.nav__list
			li.nav__item
				a.nav__link.nav__link_active(href="about.html")
					i(class="fa fa-user-secret" aria-hidden="true")
					|  Обо мне
			li.nav__item
				a.nav__link(href="career.html")
					i(class="fa fa-rocket" aria-hidden="true")
					|  Карьерный путь
			li.nav__item
				a.nav__link(href="portfolio.html")
					i(class="fa fa-suitcase" aria-hidden="true")
					|  Портфолио